<div class="sidebar-left">
  <h1 class="logo">
    Contacts Index
  </h1>
  <div class="contacts-search">

  </div>
  <div class="contacts-list-container">

  </div>
  <div class="temp">

  </div>
</div>
<div class="map">

</div>
