<!-- left sidebar  -->
<div class="sidebar-left">

  <!-- sidebar's header -->
  <div class="sidebar-left-header">

    <!-- navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <a href="javascript:void(0)" class="navbar-brand">Contacts</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <!-- add new contact button -->
        <li>
          <a href="javascript:void(0)" class="new-contact" data-toggle="modal" data-target="#contact_modal">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </li>
      </ul>
    </nav>

    <!-- contact search bar -->
    <div class="contacts-search"></div>
  </div>

  <!-- contact list container -->
  <div class="contacts-list-container"></div>
</div>

<!-- google map -->
<div class="map"></div>

<!-- modal window -->
<div class="modal fade" id="contact_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
