<div class="sidebar-left">
  <h1 class="logo">
    Contacts Index
    <button type="button" class="new-contact btn" data-toggle="modal" data-target="#contact_modal"> + </button>
  </h1>
  <div class="contacts-search">

  </div>
  <div class="contacts-list-container">

  </div>
  <div class="temp">

  </div>
</div>
<div class="map">

</div>
<div class="modal fade" id="contact_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
