<input class="contacts-search-box form-control" type="text" name="query" placeholder="Type name, state, or even street address" autofocus="true">
<p class="search-status">
  Showing
  <span class="label label-primary contacts-list-showing-count"></span> of <span class="contacts-list-total-count"></span>
   matching records
</p>
