// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, #content {
  height: 100%;
  margin: 0;
  padding: 0;
}
.sidebar-left {
  width: 25%;
  min-width: 270px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  .logo {
    text-align: center;
  }

  .contacts-search {
    margin-bottom: 20px;
  }
}

.map {
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
  height: 100%;
}
