// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, #content {
  height: 100%;
  margin: 0;
  padding: 0;
}

#content > div {
  height: 100%;
}

.sidebar-left {
  width: 25%;
  min-width: 270px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  // padding: 5px;

  .sidebar-left-header {

    nav.navbar.navbar-fixed-top {
      width: 25%;
      min-width: 270px;

      ul.navbar-right {
        margin-right: 0;
      }
    }

    .contacts-search {
      padding-top: 51px;
      margin-bottom: 20px;

      input.contacts-search-box {
        border-radius: 0;
      }
    }
    p.search-status {
      padding: 5px 15px;
    }
  }

  div.panel-container {
    border: 0;

    div.panel-body {
      padding: 0;

      .contacts-list {

        .contact {
          position: relative;
          width: 100%;

          .contact-followers {
            position: absolute;
            top: 5px;
            right: 5px;
          }

          .delete-contact {
            visibility: hidden;
            font-size: 19px;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
          }

          &:hover {
            z-index: 20;
            .delete-contact {
              visibility: visible;
            }
          }
        }

      }

      a.more-contacts {
        text-decoration: none;
        div {
          padding: 5px 15px;
          text-align: center;
        }
      }
    }
  }

}


.map {
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
  height: 100%;
  z-index: 1035; // It's not OVER 9000!!! :(

  #map-canvas {
    height: 100%;
  }
}
